<html>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js"></script>
        <title>cabinet</title>
      </head>
      <body>
        <button class="button" id="showCabinet">show cabinet</button>
        <div class="shelf">
          
          <div class="collectedFish">
            <p   id="collectedFishImage"><%=fishs.status%> </p>
    
            
            <p class="fish-text"><%= fishs.descriptions %></p>
            <p id="fishCurrentStatus"><%= fishs. status%></p>
          </div>
         
        </div>
    
</html>

