<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="script.js"></script>
    <title>fishingSite</title>
  </head>
  <body>
    <div class="fishButton">
      
      <button type="button" class="btn" onclick="openPopup()">fishing</button>

    </div>
    <form
    <div class="fishPopup" id="fishPage">
        <% if(fishPopup.visible) {  %>
        <p><%= docs.name%></p>
        <p><%= docs.descriptions %></p>
        <button type="button" onclick="closePopup()">collect it</button>
        <% } else { %> 
            <p>you got nothing</p>
            <% } %>
    </div>
  </body>
</html>
