<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <div class="acquarium">acquarium</div>
    <div class="dock">dock</div>
    <div class="fishinglink">fishinglink</div>
    <a href="fishingSite">fishingsite</a>
    <a href="collect">cabinet</a>

    <div></div>
  </body>
</html>
